**/.DS_Store
aws/config/
az/config/
gcp/config/
**/*.sh-e
**/orderer*/data/
**/peer*/data/
**/crypto/**
**/cli/
**/tool/*.json
**/canet/ca-client/
**/canet/ca-server/
**/canet/tlsca-server/
**/*genesis.block
**/*.tx
**/peer-pv-*.yaml
**/orderer-pv-*.yaml
**/keystore/
service/gateway
service/gateway-linux
**/gateway/
**/TIB_flogo*
