**/.DS_Store
aws/config/
az/config/
gke/config/
**/*.sh-e
**/orderer*/data/
**/peer*/data/
**/crypto/**
**/cli/
**/tool/*.json
**/canet/ca-client/
**/canet/ca-server/
**/canet/tlsca-server/
**/*genesis.block
**/*.tx
**/peer-pv-*.yaml